body {
    background-color: white;
    color: black;
}

.dark-mode {
    /* background-color: #121212;
    color: #f8f9fa; */
    background-color: black;
    color: white;
}

#general {
    margin:auto;
    width: 60%;
    height: 600px;
    padding-top: 325px;
}

#introduction {
    margin: auto;
    width: 60%; 
    height: 600px;
}

#courses {
    margin: auto;
    width: 60%;
    height: 600px;
}

#experience {
    margin: auto;
    width: 60%;
    height: 600px;
}

#projects {
    margin: auto;
    width: 60%;
    height: 600px;
}

#quote {
    margin: auto;
    width: 60%;
    height: auto;
}